@import '../../../styles/variables.scss';


.formContainer {
	z-index: 9999;
	position: fixed;
	top: 5vw;
    right: 5vw;
    bottom: 5vw;
    left: 5vw;
    height: calc(100% - 10vw);
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: $color-container-bg;
	//width: 90vw;
	//max-width: 414px;
	max-width: 364px;
	min-height: 550px;
	border-radius: 20px;
	/* min-height: fit-content;
	max-height: 80vh;
	padding: 52px; */
	font-family: $font-family;

	opacity: 0;
	transition: opacity 0.5s ease;
	
	.formHeader {
		color: $color-pink;
		margin: 0 auto;
		font-size: 2rem;
		letter-spacing: 2px;
		word-break: break-word;
		text-align: center;
		white-space: pre-line;
	}


	.input {
		border: 1px solid $color-pink;
		border-radius: 100px;
		color: $color-darkgrey;

		//margin-top: 35px;

		&.textInput {
			font-size: 1rem;
			line-height: 2.7rem;
			padding: 0 22px;
			font-weight: bold;
			width: 100%;

			&:focus {
				outline: 2px solid $color-pink;
			}
		}
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		width: 100%;
		> input {
			@include pink-btn;
			@include hover-btn;
			@include active-btn;
			/* border: 1px solid $color-pink;
			border-radius: 100px;
			font-size: 1.125rem;
			line-height: 2.4rem;
			font-weight: bold; */

			/* &:hover {
				@include hover-btn;
				//cursor: pointer;
			} */
		}
		.closeForm {
			@include white-btn;
			@include hover-btn;
			@include active-btn;
			// color: $color-pink;
			// background-color: $color-white;
			flex: 1;
			margin-right: 3px;
		}

		.addBtn {
			@include pink-btn;
			@include hover-btn;
			@include active-btn;
			// color: $color-white;
			// background-color: $color-pink;
			flex: 1;
			margin-left: 3px;
		}
	}

	&.formIsVisible {
		opacity: 1;
	//	bottom: 1rem;
	transition: opacity 0.5s ease;
	}

	@media screen and (min-width:600px) {
		top: 100px;
		left: calc(50vw - 414px /2);

		//max-width: 414px;
		max-width: 364px;
		max-height: 600px;
		min-height: 550px;

		&.archObj {
			top: 0;
			left:0;
			height: 100%;
		}

		.smallTomato {
			position: absolute;
			top: -58px;
			height: 110px;
			width: 110px;
			background-image: url('../../../svgAssets/vitkant-small.svg');
			background-repeat: no-repeat;
			overflow: visible;
			background-size: contain;
			background-position: center;
		}

		/* &.tomatoFormContainer {
			margin-top: 5rem;
		} */
	}

	&.archObj {
		top: 0;
		left:0;
	}
}

.showOverlay {
	z-index: 8;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #212121;
	opacity: 0;

	transition: opacity 0.5s ease;

	&.overlayVisible {
		opacity: 0.8;
		transition: opacity 0.5s ease;
	}
}

.timeInputContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border: 1px solid $color-pink;
	border-radius: 20px;
	font-size: 1rem;
	//margin: 2rem auto;
	color: $color-darkgrey;
	background-color: $color-white;

	> select {
		border: none;
		padding: 1rem;
		font-size: 1rem;
		text-align: center;
		width: 45%;
		background-color: transparent;

		&:focus {
			color: $color-pink;
			outline: none;
			font-weight: bold;
		}
	}
}

/* .timeInputPlaceholder {
	height: 50px;
} */
