@import '../../../styles/variables.scss';

.timerBtn {
	position: relative;
	height: 50px;
	width: 50px;
	margin: 0 5px;
	border-radius: 100%;
	background-color: lightblue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
	&.saveBtn {
		right: 10px;
		bottom: 10px;
		width: 64px;
		height: 70px;
		background-size: contain;
		background-color: transparent;
		border-radius: 0;
		
		@media screen and (min-width: 600px) {
			bottom: 13px;
			width: 60px;
			height: 64px;
		}
	}

	&.disabled {
		opacity: 0.5;
		&:hover{
			cursor: initial;
			transform: none;
			opacity: 0.5;
			filter: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include hover-btn;
		position: relative;
		height: 80px;
		width: 80px;
		margin: 0 5px;
		border-radius: 100%;
		background-color: lightblue;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: visible;

		&.disabled {
			opacity: 0.5;
			&:hover{
				cursor: initial;
				transform: none;
				opacity: 0.5;
				filter: none;
			}
		}

		&.saveBtn {
			width: 89px;
			height: 100px;
			background-size: cover;
			background-color: transparent;
			border-radius: 0;
			bottom: 20px;

			@media screen and (min-width: 600px) {
				bottom: 0;
			}
		}
	}
}

.buttonContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	max-width: 90vw;
	@media screen and (min-width: 600px) {
		align-items: flex-end;
	}
}

.timerBtn {
	@include active-btn;
	position: relative;
	height: 60px;
	width: 60px;
	margin: 0 5px;
	border-radius: 100%;
	background-color: lightblue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;

	&.disabled {
		opacity: 0.5;
		&:hover{
			cursor: initial;
			transform: none;
			opacity: 0.5;
			filter: none;
		}
		&:active {
			filter: none;
			transform: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include hover-btn;
		@include active-btn;
		height: 80px;
		width: 80px;
		margin: 0 5px;
	}
}

.playBtn {
	background-image: url('../../../svgAssets/play-btn.svg');
}

.pauseBtn {
	background-image: url('../../../svgAssets/pause-btn-lg.svg');
}

.stopBtn {
	background-image: url('../../../svgAssets/stop-btn-lg.svg');
}

.restartBtn {
	background-image: url('../../../svgAssets/restart-btn-lg.svg');
}

.soundOnBtn {
	background-image: url('../../../svgAssets/un-mute-btn-lg.svg');
}

.soundOffBtn {
	background-image: url('../../../svgAssets/mute-btn-lg.svg');
}

.saveBtn {
	background-image: url('../../../svgAssets/addTomatoNew.svg');
    width: 89px;
    height: 100px;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    bottom: 20px;
}

.showVolumeBtn {
	@include hover-btn;
	@include active-btn;

	z-index: 10;
	position: absolute;
	right: -10px;
	bottom: -25px;
	height: fit-content;
	background-color: $color-orange;
	color: $color-white;
	border: none;
	padding: 4px 8px;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 4px;

	@media screen and (min-width: 600px) {
		right: -40px;
		bottom: 0;
	}
}

.volumeSection {
	z-index: 9;
	position: absolute;
	right: -5vw;
	bottom: 7vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 15px 15px;
	border-radius: 5px;
	background-color: #ffffffe1;

	@media screen and (min-width: 600px) {
		background-color: #ffffffac;
	}
	
}

.volumeBtnGroup {
	//position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	height: 18px;
	margin-top: 20px;
	width: 100%;
	align-items: center;
	justify-content: center;

	.volumePercent {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.volumController {
		@include hover-btn;
		@include active-btn;
		background-color: #4d4b4ba0;
		color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		font-size: 2rem;
		font-weight: 600;
		line-height: 0px;
		width: 40px;
		height: 30px;
		border-radius: 3px;
		transition: transform 0 filter 0;

		&:first-child {
			padding-bottom: 5px;
		}

		&:active {
			transform: translateY(1px)  scale(0.99);
			filter: brightness(0.7);
			transition: transform 0;
		}
	}
}

.volumGraph {
	width: 140px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	.volumBox {
		position: relative;
		height: 30px;
		width: 10px;
		margin: 2px;
		border-radius: 3px;
		opacity: 0.8;

		&.volumeBlue {
			background-color: $color-darkgrey;
		}
		&.volumeOrange {
			background-color: $color-yellow;
		}
		&.volumePink {
			background-color: $color-pink;
		}
	}
}