@import '../../../styles/variables.scss';

.timerBtn {
	position: relative;
	height: 50px;
	width: 50px;
	margin: 0 5px;
	border-radius: 100%;
	background-color: lightblue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
	&.saveBtn {
		width: 60px;
		height: 64px;
		background-size: contain;
		background-color: transparent;
		border-radius: 0;
		bottom: 13px;
		right: 10px;
	}

	&.disabled {
		opacity: 0.5;
		&:hover{
			cursor: initial;
			transform: none;
			opacity: 0.5;
			filter: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include hover-btn;
		position: relative;
		height: 80px;
		width: 80px;
		margin: 0 5px;
		border-radius: 100%;
		background-color: lightblue;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: visible;

		&.disabled {
			opacity: 0.5;
			&:hover{
				cursor: initial;
				transform: none;
				opacity: 0.5;
				filter: none;
			}
		}

		&.saveBtn {
			width: 89px;
			height: 100px;
			background-size: cover;
			background-color: transparent;
			border-radius: 0;
			bottom: 20px;

			@media screen and (min-width: 600px) {
				bottom: 0;
			}
		}
	}
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	max-width: 90vw;
	@media screen and (min-width: 600px) {
		align-items: flex-end;
	}
}

.timerBtn {
	@include active-btn;
	position: relative;
	height: 60px;
	width: 60px;
	margin: 0 5px;
	border-radius: 100%;
	background-color: lightblue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;

	&.disabled {
		opacity: 0.5;
		&:hover{
			cursor: initial;
			transform: none;
			opacity: 0.5;
			filter: none;
		}
		&:active {
			filter: none;
			transform: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include hover-btn;
		@include active-btn;
		height: 80px;
		width: 80px;
		margin: 0 5px;
	}
}

.playBtn {
	background-image: url('../../../svgAssets/play-btn.svg');
}

.pauseBtn {
	background-image: url('../../../svgAssets/pause-btn-lg.svg');
}

.stopBtn {
	background-image: url('../../../svgAssets/stop-btn-lg.svg');
}

.restartBtn {
	background-image: url('../../../svgAssets/restart-btn-lg.svg');
}

.soundOnBtn {
	background-image: url('../../../svgAssets/un-mute-btn-lg.svg');
}

.soundOffBtn {
	background-image: url('../../../svgAssets/mute-btn-lg.svg');
}

.saveBtn {
	background-image: url('../../../svgAssets/addTomatoNew.svg');
    width: 89px;
    height: 100px;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    bottom: 20px;
}