@import '../../../styles/variables.scss';

.timerPageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: calc(100vh - 120px);
	max-width: 900px;
	transition: all 1.1s ease-in-out;

	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: unset;
		width: 100vw;
		padding-top: 120px;
		height: 100vh;

	&.backgroundIsPlaying {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: unset;
		width: 100vw;
		padding-top: 120px;
		height: 100vh;
		transition: all 1.1s ease-in-out;
		@media screen and (min-width: 600px) {
		z-index: 999999;
		padding-top: 0;
		height: calc(100vh);
		padding-top: 470px;
		padding-top: 325px;
		top: unset;
		background-color: rgba(88, 88, 88, 0.719);
		transition: all 1.1s ease-in-out;
		}
	}

	&.stopwatchWrapper {
		position: fixed;
		.timerBtn {
			position: relative;
			height: 50px;
			width: 50px;
			margin: 0 5px;
			border-radius: 100%;
			background-color: lightblue;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: visible;
			&.saveBtn {
				width: 60px;
				height: 64px;
				background-size: contain;
				background-color: transparent;
				border-radius: 0;
				bottom: 13px;
				right: 10px;
			}
		
			&.disabled {
				opacity: 0.5;
				&:hover{
					cursor: initial;
					transform: none;
					opacity: 0.5;
					filter: none;
				}
			}
		
			@media screen and (min-width: 600px) {
				@include hover-btn;
				position: relative;
				height: 80px;
				width: 80px;
				margin: 0 5px;
				border-radius: 100%;
				background-color: lightblue;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				overflow: visible;

				&.disabled {
					opacity: 0.5;
					&:hover{
						cursor: initial;
						transform: none;
						opacity: 0.5;
						filter: none;
					}
				}

				&.saveBtn {
					width: 89px;
					height: 100px;
					background-size: cover;
					background-color: transparent;
					border-radius: 0;
					bottom: 20px;

					@media screen and (min-width: 600px) {
						bottom: 0;
					}
				}
			}
		}
		
	}
	//z-index: 999999;
	z-index: 99;
	padding-top: 0;
	height: calc(100vh - 315px);
	top: unset;
	bottom: 0;
	@media screen and (min-width: 600px) {
		//z-index: 999999;
		z-index: 99;
		padding-top: 0;
		height: calc(100vh - 315px);
		top: unset;
		bottom: 0;
		}
}

.contentContainer {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding-bottom: 0;
	width: 100%;

	@media screen and (min-width: 600px) {
	position: relative;
	height: 100%;
	margin-top: -120px;

		.todoTitle {
			z-index: 1;
			margin: 50px auto 0;
			color: $color-darkgrey;
		}
	}
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	max-width: 90vw;
	@media screen and (min-width: 600px) {
		align-items: flex-end;
	}
}

.timerBtn {
	@include active-btn;
	position: relative;
	height: 60px;
	width: 60px;
	margin: 0 5px;
	border-radius: 100%;
	background-color: lightblue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;

	&.disabled {
		opacity: 0.5;
		&:hover{
			cursor: initial;
			transform: none;
			opacity: 0.5;
			filter: none;
		}
		&:active {
			filter: none;
			transform: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include hover-btn;
		@include active-btn;
		height: 80px;
		width: 80px;
		margin: 0 5px;
	}
}

.playBtn {
	background-image: url('../../../svgAssets/play-btn.svg');
}

.pauseBtn {
	background-image: url('../../../svgAssets/pause-btn-lg.svg');
}

.stopBtn {
	background-image: url('../../../svgAssets/stop-btn-lg.svg');
}

.restartBtn {
	background-image: url('../../../svgAssets/restart-btn-lg.svg');
}

.soundOnBtn {
	background-image: url('../../../svgAssets/un-mute-btn-lg.svg');
}

.soundOffBtn {
	background-image: url('../../../svgAssets/mute-btn-lg.svg');
}

.saveBtn {
	background-image: url('../../../svgAssets/addTomatoNew.svg');
    width: 89px;
    height: 100px;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    bottom: 20px;
}

.showCountdownNumbers {
	z-index: 9;
	transition: opacity 250s ease-in-out;
	> h2 {
		color: $color-darkgrey;
		text-align: center;
	}

	&.showNumbers {
		opacity: 1;
		transition: opacity 250s ease-in-out;
	}

	&.hideNumber {
		opacity: 0;
		transition: opacity 250s ease-in-out;
	}
}

.timesUpHeaderContainer {
	z-index: 9;
	opacity: 0;
	transition: opacity 250s ease-in-out;
	color: $color-white;

	&.showText {
		opacity: 1;
		transition: opacity 250s ease-in-out;
	}

	&.hideText {
		opacity: 0;
		transition: opacity 250s ease-in-out;
	}

	.timesUpHeader {
		color: $color-white;
	}
}

.addTime {
	@include pink-btn;
	@include hover-btn;
	@include active-btn;
	margin: 1rem auto 2rem;
}

.filler {
	@include pink-btn;
	width: 130px;
	height: 42px;
	opacity: 0;
}

.soundPlayerContainer {
	height: 0;
	width: 0;
	* {
		height: 0;
		width: 0;
	}
}

.closeCountdown {
	@include hover-btn;

	z-index: 99999;
	background-image: url(../../../svgAssets/deleteTomatoWhiteNew.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow-y: visible;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50px;
    height: 50px;
    position: absolute;
    right: 100px;
    top: 100px;
}

.timesUpHeader {
	color: $color-white;
}

.stopAlarmBtn {
	@include hover-btn;
	@include white-btn;
	@include active-btn;
	text-align: center;
}
