@import './variables.scss';

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-left: 30px;

	.headerTextContainer {
		display: flex;
		flex-direction: row;
		width: fit-content;

		.logoHeader {
			margin-bottom: 32px;
			font-family: $font-family;
			width: fit-content;
			font-size: 2.6rem;
			letter-spacing: 1px;
			&.partOne {
				@supports (-webkit-text-stroke: 1px $color-pink) {
					  -webkit-text-stroke: 1px $color-pink;
					  -webkit-text-fill-color: transparent;
				  }
			}
			&.partTwo {
				color: $color-pink;
				margin-right: -20px;
			}
		}
	}

	 .hamburger {
		 position: absolute;
		z-index: 8;
		top: 54px;
		left: 30px;
		opacity: 0;
		transition: opacity 0.3s ease;

		&.showHamburger {
			opacity: 1;
			transition: opacity 0.3s ease;
		}
	}

	.closeNavBtn {
		z-index: 3;
		position: fixed;
		top: 1.5rem;
		right: 1.5rem;
		opacity: 0;
		transition: opacity 0.3s ease;

		&.showClosebtn {
			z-index: 6;
			opacity: 1;
			transition: opacity 0.3s ease 0.3s;
		}
	}

	@media screen and (min-width: 600px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		.headerTextContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;

			.logoHeader {
				margin-bottom: 2rem;
				font-family: $font-family;
				width: fit-content;
				font-size: 6rem;
				letter-spacing: 3px;

				&.partOne {
					@supports (-webkit-text-stroke: 1px $color-pink) {
						  -webkit-text-stroke: 1px $color-pink;
						  -webkit-text-fill-color: transparent;
					  }
				}
				&.partTwo {
					color: $color-pink;
				}
			}
		}

		.closeNavBtn, .hamburger {
			display: none;
		}
	}
}