@import './variables.scss';

.container{
	max-height: 75vh;
	overflow-y: hidden;
	border-radius: 20px;
	margin-bottom: 2rem;

	@media screen and (min-width: 600px) {
		//overflow: visible;
		border-radius: 30px;
		max-height: none;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 90vw;
		max-width: 1660px;

		@media screen and (min-width: 600px) {
			flex-direction: row;
			flex-wrap: wrap;
			> div {
				max-width: 460px;
			}
		}
		
	}
}