@import './variables.scss';

.listContainer, .popupContainer {
	z-index: 9999;
	position: fixed;
	top: 0;
	border-radius: 30px;
	width: 400px;
	background-color: $color-container-bg;
	transition: all 0.2s ease-in-out;
	display: flex;
	min-height: 200px;
	transition: all 0.2s ease-in-out;
	padding: 50px 0;
	margin: 50px auto;

	.hiddenLists {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 15px;
		margin: 1rem auto 2rem;
		//padding: 0 2rem;
		opacity: 1;
	}

	.textGroup {
		font-size: 1rem;
		text-align: center;
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		h3 {
			font-size: 1em;
			margin-bottom: 3px;
			word-break: break-word;
			@media screen and (min-width: 600px) {
				font-size: 1em;
			}
		}
		p {
			font-size: 0.75em;
			font-weight: bold;
			@media screen and (min-width: 600px) {
				font-size: 0.75em;
			}
		}

		.btnContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 90%;
			margin: 50px auto;
			> input {
				border: 1px solid $color-pink;
				border-radius: 100px;
				font-size: 1.125rem;
				line-height: 2.4rem;
				font-weight: bold;
	
				&:hover {
					cursor: pointer;
				}
			}
			.closeForm {
				color: $color-pink;
				background-color: $color-white;
				flex: 1;
				margin-right: 3px;
			}
	
			.addBtn {
				@include pink-btn;
				@include hover-btn;
				color: $color-white;
				background-color: $color-pink;
				margin-left: 3px;
				width: 130px;
			}
		}
	}
/* 	.hiddenLists {
		background-color: $color-article-bg;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 15px;
		margin: 1rem auto 2rem;
		padding: 0 2rem;
		width: 80%;
	} */
}


.listContainer {
	left: calc(50vw - 200px);
}