@import './variables.scss';

.todoPageWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90vw;
	transition: all 2s ease;

	/* .optionContainer {
		position: relative;
		margin: 2rem auto;

		.addTodoList {
			display: flex;
			align-items: center;
			align-self: flex-end;
			margin: 0 3rem;
			border: none;
			background-color: transparent;

			h2, h3 {
				color: $color-darkgrey;
				border-bottom: 1px solid transparent;
			}
			p {
				margin-left: 1rem;
				font-size: 1.5rem;
			}
			.addTdodoSvg {
				margin-left: 1rem;
			}
		} 
	}*/

	.todoListWrapper {
		position: relative;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90vw;
		max-width: 1000px;
		min-height: 400px;
		flex-shrink: 1;
		border-radius: 0 0 30px 30px;
		background-color: #F1FAFF;
		max-width: 900px;
		.emptyList {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 30px;
			width: 100%;
			padding-top: 150px;

			.todoListTop {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 50px;
				color: $color-white;

				background-color: $color-orange;
			}
		}

		.addListIconBtn {
			background-image: url('../svgAssets/emptyListAdd-small.svg');
			background-repeat: no-repeat;
			width: 95px;
			height: 95px;
		}
		h3 {
			color: $color-darkgrey;
		}
	}

	&.sideListVisible {
		flex-direction: column;
		align-items: center;
		transition: all 0.5s ease-in;	
		.sideListContainer {
			transition: translate 0.5s ease-in;	
			&.sideLists {
				display: flex;
				flex-direction: column;
				width: 90vw;
				max-width: 1000px;
				flex-shrink: 1;
				transform: translateX(0%);
				transition: translate 0.5s ease-in;	
			}
		}
	}

	@media screen and (min-width: 600px) {
		flex-direction: column-reverse;
	
	.todoListWrapper {
		//top: 0;
		border-radius: 30px;
		margin-top: 50px;
	}
		.sideListContainer {
			transform: translateX(100vw);
		}

////
		&.sideListVisible {
			flex-direction: column;
			align-items: center;
	
			.sideListContainer {
				transition: translate 0.5s ease-in;	
				&.sideLists {
					display: flex;
					flex-direction: row;
					width: 90vw;
					max-width: 1000px;
					flex-shrink: 1;
					transform: translateX(0%);
					transition: translate 0.5s ease-in;	
				}
			}
		}

		.optionContainer {
			display: flex;
			flex-direction: row;
			z-index: 1;
			position: absolute;
			top: 0;
			right: 2rem;
			display: flex;
			align-items: center;
			background-color: transparent;
			transition: all 0.2s ease-in-out;
			.arrowLeft {
				color: $color-orange;
			}
			p {
				color: transparent;
				transition: all 0.2s ease-in-out;
				border-radius: 5px;
				margin-right: 0.5rem;
				padding: 0.5rem;
			}

			&:hover {
				cursor: pointer;
				transition: all 0.1s ease-in-out;
				p {
					color: $color-orange;
					transition: all 0.1s ease-in-out;
					background-color: #f0f9fe67;
				}
			}
		}
	}

	@media screen and (min-width: 1000px) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: flex-start;
		width: 80vw;
		position: relative;
		//right: -8vw;

		&.changeFlex {
			right: 0;
			//transition: all 0.5s ease;
		}
		.todoListWrapper {
			top: 0;
			border-radius: 30px;
			margin-top: 0;

			.todoListTop {
				border-radius: 30px 30px 0 0;
			}

			.addListIconBtn {
				background-image: url('../svgAssets/emptyListAdd-large.svg');
				background-repeat: no-repeat;
				width: 141px;
				height: 141px;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.sideListContainer {
			display: flex;
			flex-direction: column;
			width: 90vw;
			max-width: 1000px;
			flex-shrink: 1;
			position: absolute;
			transform: translateX(100vw);
			//transition: all 2s ease-in;
		}

		&.sideListVisible {
			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: flex-start;
			width: 80vw;
			max-width: 1400px;
			//transition: all 2s ease;
	
			.sideListContainer {
				position: relative;
				//transition: all 2s ease;

				&.sideLists {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					width: 90vw;
					max-width: 1000px;
					flex-shrink: 1;
					transform: translateX(0%);
					transition: transform 0.5s ease-out;	
				}
			}
		}
	}
}