@import './variables.scss';


.playBtn {
	@include hover-btn;
	display: flex;
	width: fit-content;
	position: absolute;
	top: calc(50% - 20px);
	right: 1.5rem;
	background-repeat: no-repeat;
	min-width: 40px;
	min-height: 40px;
	
	background-position: center;
	background-size: cover;
	overflow: visible;

	border: none;
	background-color: transparent;

	

	&.orange {
		background-image: url('../svgAssets/play-btn-sm-orange.svg');
		right: 40px;
		@media screen and (min-width: 550px) {
			right: 15%;
		}
	}
	&.orangeLg {
		background-image: url('../svgAssets/play-btn-sm-orange.svg');
		height: 65px;
		width: 65px;
		z-index: 99999;
		position: absolute;
		left: calc(50vw - 32px);
		top: 80vh;

		@media screen and (min-width: 600px) {
			position: fixed;
			left: 33px;
			top: calc(50vh + 165px);
			margin-top: 15px;
		}
	}
	&.green {
		background-image: url('../svgAssets/play-btn-sm-green.svg');
		min-width: 40px;
			min-height: 40px;
		@media screen and (min-width: 550px) {
			min-width: 50px;
			min-height: 50px;
		}
	}
	&.grey {
		background-image: url('../svgAssets/play-btn-sm-grey.svg');
	}

	&.regularBtn {
		@include pink-btn;
	}

	@media screen and (min-width: 550px) {
		min-width: 50px;
		min-height: 50px;
		top: calc(50% - 25px);
		right: 45px;
	}

	&.todoList {
		position: relative;
		top: calc(50% - 25px);
		//right: 60px;
		right: 0;
		min-height: 50px;
		min-width: 50px;
		margin: 0 4px;

		.todoTimeSection {
			height: 50px;
			width: 50px;
		}

		&.disabledTime {
			opacity: 0.3;
			&:hover {
				cursor: initial;
				filter: none;
			}
		}
	}
}




