@import './variables.scss';

.activeLists {
	position: relative;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	padding-top: 49px;
	border-radius: 30px 30px 0 0;
	width: 100%;
	max-width: 700px;

	height: fit-content;
	//min-height: 155px;
	//height: 0;
	background-color: $color-container-bg;
	transition: all 0.2s ease-in-out;
	

	.hiddenLists {
		background-color: $color-article-bg;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 15px;
		margin: 1rem auto 2rem;
		padding: 1rem 2rem;
		width: 80%;
		height: fit-content;
		opacity: 0;
	}

	.contentBox {
		transition: height 0.2s ease-in-out;
		height: 0;
		width: 100%;
	}

	.textGroup {
		h3 {
			font-size: 1rem;
			margin-bottom: 3px;
		}
		p {
			font-size: 0.75rem;
			font-weight: bold;
			margin-top: 0;
		}
	}

	.smallTomato {
		height: 60px;
		width: 60px;
		background-image: url('../svgAssets/orange-tomato-small.svg');
		background-repeat: no-repeat;
	}

	/* .playBtnTomato {
		width: 60px;
		height: 60px;
		background-image: url('../svgAssets/play-btn-sm-orange.svg');
		background-repeat: no-repeat;
		background-position: center;
	} */

	&.homePage {
		.link {
			color: transparent;
			border-bottom: 1px solid transparent;
			font-weight: bold;
			width: fit-content;
			text-align: center;
			margin: 1rem auto;
		}
	}
	&.tomatoPage {
		background-color: orange;
	}

	&.showContent {

		&.homePage {
			.link {
				color: $color-pink;
				border-bottom: 1px solid $color-pink;
			}
		}

		.contentBox {
			height: 250px;
			overflow-y: scroll;
			transition: height 0.2s ease-in-out;
		//	margin-bottom: 2rem;
		}
		
		.hiddenLists {
			opacity: 1;
		}
	}
	
	@media screen and (min-width: 600px) {
		position: relative;
		//padding: 50px 0;
		width: 80%;
		border-radius: 20px;
		background-color: #F0F9FE;
		margin: 0 auto 1rem;
		min-height: 155px;
		height: fit-content;

		&.showContent {
			.link {
				font-size: 0.75rem;
				font-weight: bold;
				margin-top: 1rem;
				opacity: 1;
				transition: opacity 0.2s ease;
				&:hover {
					opacity: 0.5;
					cursor: pointer;
					transition: opacity 0.2s ease;
				}
			}

			.contentBox {
				height: fit-content;
				overflow-y: hidden;
				transition: height 0.2s ease-in-out;
			}
		}

		&.homePage {
			.link {
				color: $color-pink;
				border-bottom: 1px solid $color-pink;
				font-size: 0.75rem;
				font-weight: bold;
				margin-top: 1rem;
				opacity: 1;
				transition: opacity 0.2s ease;
				&:hover {
					opacity: 0.5;
					cursor: pointer;
				}	
			}
		}

		&.tomatoPage {
			margin-right: 0.5rem;
		}

		.contentBox {
			height: fit-content;
			overflow-y: hidden;
			transition: height 0.2s ease-in-out;
		}
		

		.hiddenLists {
			display: flex;
			justify-content: space-between;
			background-color: $color-article-bg;
			border-radius: 15px;
			margin: 1rem auto;
			width: 80%;
			opacity: 1;
			

			&:hover {
				cursor: pointer;
			}
		}
	}

	@media screen and (min-width: 1000px) {
		/* &.showContent {
			//margin: 0 auto;
			} */
	}
}

.activeListsTop {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	color: $color-white;

	background-color: $color-pink;
	border-radius: 20px 20px 0 0;

	.arrowRight {
		display: none;
	}
}
