@import './variables.scss';


.hiddenLists {
	background-color: $color-article-bg;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	margin: 1rem auto 2rem;
	padding: 0 2rem;

	//padding: 0 1rem;

	width: 80%;
	height: fit-content;
	//opacity: 0;

	&.isVisible {
		opacity: 1;
	}
}

.isVisible {
	opacity: 1;
	background-color: blue;
}

.textGroup {
	h3 {
		font-size: 1rem;
		margin-bottom: 3px;
	}
	p {
		font-size: 0.75rem;
		font-weight: bold;
	}
}

.iconGroup {
	display: flex;
	flex-direction: row;
	.nrOfTodosIcon {
		background-image: url('../svgAssets/total-nr-todos.svg');
	} 
	.nrOfCheckedIcon {
		background-image: url('../svgAssets/nrCheckedIcon.svg');
	} 
	.nrOfNotCheckedIcon {
		background-image: url('../svgAssets/nrNotChecked.svg');
	}

	.nrOfTodosIcon, .nrOfNotCheckedIcon, .nrOfCheckedIcon {
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 3px;

		.nrTodos, .nrNotChecked, .nrChecked {
			font-size: 0.9rem;
			font-weight: bold;
		}

		.nrTodos, .nrNotChecked {
			margin-left: 0.75rem;
		}

		.nrChecked {
			margin-left: 1rem;
		}
	}
}
	
@media screen and (min-width: 600px) {
	.hiddenLists {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $color-article-bg;
		border-radius: 15px;
		margin: 1rem auto;
		padding: 0 2rem;
		width: 80%;
		height: fit-content;

		opacity: 1;
		

		&:hover {
			cursor: pointer;
		}
	}
	/* .hiddenLists {
		justify-content: space-around;
	} */			
}


