@import './variables.scss';


.tomatoPageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.libraryContainer{
	position: relative;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly; */
	display: grid;
	width: 90vw;
	max-width: 1350px;
	background-color: $color-container-bg;
	border-radius: 20px;
	margin: 2rem auto;
	padding: 40px 0 30px;
	flex-wrap: wrap;

	width: 90vw;
            margin-top: 4%;
            
            display: grid;
 
            /* Use display property as grid*/
            gap: 5px;
            grid-template-columns: repeat(
                auto-fit, minmax(350px, 1fr));

	.gridItem {
		max-width: 350px;
	}

	.emptyList {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		width: 100%;
		padding-top: 100px;

		.todoListTop {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 50px;
			color: $color-white;

			background-color: $color-orange;
		}
	}

	.addListIconBtn {
		background-image: url('../svgAssets/addTomatoNew.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 95px;
		height: 95px;

		&:hover {
			cursor: pointer;
		}
		
	}

	.tomatoListTop {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		color: $color-white;
		background-color: $color-white;
		border-radius: 20px 20px 0 0;

		.tomatoLibraryHeader {
			color: $color-pink;
		}
		.savedListsHeader{
			color: $color-yellow;
		}

		.addTomatoIcon {
			height: 35px;
			width: 35px;
			background-image: url('../svgAssets/addTomatoNew.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-left: 1rem;

			&:hover {
				cursor: pointer;
			}
		}
		.deleteBtn {
			position: absolute;
			right: 1.5rem;

			&:hover {
				cursor: pointer;
			}
		}

		@media screen and (min-width: 600px) {
			border-radius: 30px 30px 0 0;
		}
	}

	@media screen and (min-width: 600px) {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 70px;
	}
}


.showOverlay {
	//z-index: 8;
	z-index: 9;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #212121;
	opacity: 0;

	transition: opacity 0.5s ease;

	&.overlayVisible {
		opacity: 0.8;
		transition: opacity 0.5s ease;
	}
}



	

 .showActiveLists {
	height: 0;
	transition: all 1s ease;
	opacity: 1;
	overflow: hidden;
	overflow-y: scroll;
	display: block;


	position: fixed;
    z-index: 99;
    height: 500px;
    //width: 400px;
	width: 90%;
	max-width: 400px;
    transition: all 0.5s ease;
    background: white;
    border-radius: 30px;
    //top: 10%;

	.currentListsItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		transition: all 1s ease;
		width: 300px;
		height: 100px;
		opacity: 1;
		transition: all 0.5s ease;

		
	}
	.optionContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 2rem;
	}

	.addTodoList {
		display: flex;
		align-items: center;
		align-self: flex-end;
		margin: 0 3rem;
		border: none;
		background-color: transparent;

		h2, h3 {
			color: $color-darkgrey;
			border-bottom: 1px solid transparent;
		}
		p {
			margin-left: 1rem;
			font-size: 1.5rem;
		}
		.addTdodoSvg {
			margin-left: 1rem;
		}

		&:hover {
			cursor: pointer;
		}
	}

	@media screen and (min-width: 800px) {
		position: fixed;
		height: 500px;
		width: 400px;
		transition: all 0.5s ease;
		top: 10%;
	}
}