@import './variables.scss';

.userContainer {
	//z-index: 99999;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 50px;
	background-color: #bce2f9dc;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 50px 10px 10px;

	.textContent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: $color-darkgrey;
	}

	.inloggad {
		font-size: 0.65rem;
		line-height: 1rem;
		margin: 0;
		font-weight: bold;
		opacity: 0.8;
	}

	.userName {
		font-size: 0.65rem;
		line-height: 1rem;
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
		opacity: 0.5;
	}

	button {
		@include hover-btn;
		@include active-btn;
		font-weight: 600;
		margin: 0 2px;
		border-radius: 100px;
		padding: 0 10px;

		&:first-child {
			height: 50px;
			width: 50px;
			border: 2px solid $color-pink;
			background-color: $color-white;
			color: $color-pink;
		}

		&:last-child {
			border: none;
			color: $color-white;
			background-color: $color-pink;
			border-radius: 0;
			height: 30px;
			width: 30px;
			
			background-image: url(../svgAssets/logoutIcon.svg);
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&.mobile {
		position: relative;
		background-color: transparent;
		justify-content: center;
	}
}

.settingsBtn {
	@include hover-btn;
	@include active-btn;
	
	height: 25px;
	width: 25px;
	background-image: url(../svgAssets/settingsIcon.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;

	margin: 0 10px;
}