@charset 'UTF-8';

//Colors
$color-pink: #D92387;
$color-orange: #FF9100;
$color-yellow: #F2D230;
$color-green: #88D94E;
$color-blue: #63baf0;
$color-green-bg: #88d94ec5;
$color-background: linear-gradient(#bce2f9, #ddf3ff ); 
$color-article-bg: #D0EDFD;
$color-container-bg: #F2FAFF;
$color-container-bg-transp: #f2faff96; //#f2faff96 //#f2faff91
$color-box-shadow-dark: #9bb0bc;
$color-box-shadow: #e0e0e0;
$color-darkgrey: #4D4B4B;
$color-black: #111;
$color-white: #fff;

//fonts
$font-family: 'Paytone One', sans-serif;

//btns
@mixin hover-btn {
	transition: all 0.15s ease-in-out;
	&:hover {
		transition: all 0.15s ease-in-out;
		filter: brightness(0.8) drop-shadow(0px 0px 7px $color-box-shadow-dark);
		cursor: pointer;
	}
}

@mixin hover-btn-secondary {
	transition: all 0.15s ease-in-out;
	&:hover {
		transition: all 0.15s ease-in-out;
		filter: brightness(0.8);
		cursor: pointer;
	}
}

@mixin white-btn {
	color: $color-pink;
	background-color: $color-white;
	border: 1px solid $color-pink;
	border-radius: 100px;
	font-size: 1rem;
	line-height: 2.4rem;
	width: 130px;
	font-weight: bold;
}

@mixin pink-btn {
	color: $color-white;
	background-color: $color-pink;
	border: 1px solid $color-pink;
	border-radius: 100px;
	font-size: 1rem;
	line-height: 2.4rem;
	width: 130px;
	font-weight: bold;
}

@mixin active-btn {
	&:active {
		filter: grayscale(0.5);
		transform: scale(0.99) translateY(2px);
	}
}
