@import '../../../styles/variables.scss';


.deleteBtn {
	@include hover-btn;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow-y: visible;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&.smallOrange {
		background-image: url('../../../svgAssets/x-btn-small-orange.svg');
		height: 30px;
		width: 30px;
		position: absolute;
		//top: 1rem;
		right: 1.5rem;
	}

	&.smallBlue {
		background-image: url('../../../svgAssets/x-btn-small.svg');
		height: 25px;
		width: 25px;
		position: absolute;
		top: 1rem;
		right: 1rem;
		
		@media screen and (min-width: 600px) {
			height: 30px;
			width: 30px;
		}
	}

	&.large {
		background-image: url('../../../svgAssets/deleteTomatoFlippedNew.svg');
		height: 100px;
		margin: 3px;
		width: 80px;
	}

	&.regular {
		@include white-btn;
		content: 'delete';
		height: 50px;
	}
}


.deleteWarning {
	//z-index: 9999;
	z-index: 9;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 3rem;
	left: 1rem;
	right: 1rem;
	height: 70vh;
	max-height: 700px;
	max-width: 400px;
	background-color: $color-white;
	border-radius: 20px;
	color: $color-darkgrey;
	padding: 2rem;
	text-align: center;
	line-height: 2rem;

	.btnContainer {
		display: flex;
		flex-direction: column;
		width: 50%;
		> .warningBtn {
			@include hover-btn;
			border: 1px solid $color-pink;
			border-radius: 100px;
			font-size: 1.125rem;
			line-height: 2.4rem;
			//margin-top: 35px;
	
			font-weight: bold;
			margin-top: 1rem;
	
		}
		.close {
			color: $color-pink;
			background-color: $color-white;
			flex: 1;
			margin-right: 3px;
		}
	
		.delete {
			color: $color-white;
			background-color: $color-pink;
			flex: 1;
			margin-left: 3px;
		}
	}

	@media screen and (min-width: 600px) {
		top: 3rem;
		left: calc(50vw - 200px);
		right: 0;
		font-size: 1.2rem;
		margin-right: 1rem;
	}
}