@import '../../../styles/variables.scss';


.deleteBtn {
	@include hover-btn;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow-y: visible;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&.smallOrange {
		background-image: url('../../../svgAssets/x-btn-small-orange.svg');
		height: 30px;
		width: 30px;
		position: absolute;
		right: 1.5rem;
	}

	&.smallBlue {
		background-image: url('../../../svgAssets/x-btn-small.svg');
		height: 25px;
		width: 25px;
		position: absolute;
		top: 1rem;
		right: 1rem;
		
		@media screen and (min-width: 600px) {
			height: 30px;
			width: 30px;
		}
	}

	&.large {
		background-image: url('../../../svgAssets/deleteTomatoFlippedNew.svg');
		height: 100px;
		margin: 3px;
		width: 80px;
	}

	&.regular {
		@include white-btn;
		content: 'delete';
		width: 45%;
	}
}

.deleteWarning {
	z-index: 99999;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 14vh;
	left: 1rem;
	right: 1rem;
	max-width: 320px;
	height: 350px;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


	background-color: $color-white;
	border-radius: 20px;
	color: $color-darkgrey;
	padding: 2rem 3rem 3rem;
	text-align: center;
	line-height: 2rem;

	@media screen and (min-width: 600px) {
		top:  200px;
	}

	.textGroup {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100%;
		width: 100%;
	
		 h1 {
			font-size: 2rem;
			margin: 0 auto;
			width: 100%;
			color: $color-darkgrey;

			> span {
				color: $color-pink;
			}
		}
	
		h2 {
			font-family: $font-family;
			font-size: 1.25rem;
			line-height: 2.3rem;
			margin: 0;
			display: flex;
			color: $color-darkgrey;
			> span {
				color: $color-pink;
			}
		}
		p {
			font-family: $font-family;
			font-size: 1.1rem;
		}
		 span {
			color: $color-pink;
			font-weight: 800;
	
			.questionMark {
				color: $color-darkgrey;
				width: fit-content;
			}
			
			
		}	
	}

	.btnContainer {
		z-index: 9999;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		
		.close {
			@include white-btn;
			@include hover-btn;
			@include active-btn;
			margin-right: 3px;
			border: 1px solid $color-pink;
			border-radius: 100px;
			font-size: 1.125rem;
			line-height: 2.4rem;
			width: 45%;
			font-weight: bold;
		}

		.addBtn {
			@include pink-btn;
			@include hover-btn;
			@include active-btn;
			width: 45%;
		}
	}
}

.previewContainer {
	position: fixed;
	width: 90%;
	height: fit-content;
	width: 340px;
	position: absolute;
	top: 83%;
}

.previewTop {
	z-index: 1;
	position: absolute;
	top: 0;
	left: calc(50vw - 150px);
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin: 0;
	background-color: inherit;

	> svg {
		> path {
			fill: $color-darkgrey;
		}
		transition: all 0.2s ease-in-out;
	}
	> p {
		margin: 0;
	}

	&:hover {
		cursor: pointer;
		filter: brightness(0.6);
	}
}

.previewLists {
	z-index: 9999;
	top: 60vh;
	position: relative;
	width: 320px;
	overflow-y: scroll;
	height: 200px;
	border-radius: 0 0 15px 15px;
	background-color: $color-white;
	transform: translateY(-230px);
	transition: all 0.25s ease-in-out;
	padding: 20px 0;
	margin: 40px auto;

	padding: 30px 0 15px;
	margin: 0 auto;

	@media screen and (min-width: 600px) {
		top:  520px;
	}

	.hiddenLists {
		background-color: $color-article-bg;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-radius: 15px;
		margin: 1rem auto;
		padding: 0 1rem;
		min-height: 60px;
		width: 90%;
		height: fit-content;
		box-shadow: none;
		transition: box-shadow 0.2s ease-in-out;
	
		.textGroup {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 80%;
			overflow-wrap: break-word;
			hyphens: auto;
			align-items: flex-start;
	
			h3 {
				font-size: 0.8rem;
				margin: 0.5rem 0 0;
				font-weight: bold;
				line-height: 1rem;
			}
			p {
				font-family: unset;
				font-size: 0.7rem;
				margin: 0;
			}
		}

		.tomatoTime {
			height: 100%;
			padding: 0;
			font-size: 0.7rem;
			line-height: 1.4rem;
			text-align: left;
		}
	}

	&.preview {
		transform: translateY(0);
		transition: all 0.2s ease-in-out;
	}
}




.previewArrow {
	svg {
		transform: rotate(180deg);
		transition: all 0.2s ease-in-out;
	}
}
.previewListContainer {
	position: relative;
	overflow: visible;
	width: 100%;
}

.popupLIstContainer {
	z-index: 99999;
	position: fixed;
	top: 0;
	width: fit-content;
	height: fit-content;
	transition: all 0.2s ease-in-out;
}