@import '../../../styles/variables.scss';

.listContainer {
	position: relative;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 49px 0 0;
	width: 100%;
	max-width: 700px;
	height: 0;
	background-color: $color-container-bg;
	transition: all 0.2s ease-in-out;
	border-radius: 20px 20px 0 0;

	.link {
		font-weight: bold;
		width: fit-content;
		text-align: center;
		margin: 1.5rem auto;
		opacity: 1;
		&.tomatoes {
			color: $color-pink;
			border-bottom: 1px solid $color-pink;
		}

		&.currentTodos {
			color: $color-orange;
			border-bottom: 1px solid $color-orange;
		}

		&.savedTodos {
			color: $color-darkgrey;
			border-bottom: 1px solid $color-darkgrey;
		}
	}

	&.showContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 200px;
		transition: all 0.2s ease-in-out;

		h4 {
			text-align: center;
		}
		.contentBox {
			overflow-y: scroll;
			height: fit-content;
		}

		.emptyListText {
			text-align: center;
			color: $color-darkgrey;
		}

		@media screen and (min-width: 600px) {
			height: fit-content;
		}
	}

	&:first-child {
		.listTop {
			border-radius: 20px 20px 0 0;
			@media screen and (min-width: 600px) {
				border-radius: 30px 30px 0 0;
			}
		}
	}

	&:last-child{
		border-radius: 20px;
		height: fit-content;
		overflow-y: visible;
		padding-bottom: 2rem;
		@media screen and (min-width: 600px) {
			border-radius: 30px;
		}
	}

	.emptyListText {
		text-align: center;
		color: transparent;
	}

	&.homePage {
		.contentBox {
			width: 100%;
			overflow-y: scroll;
			max-height: calc(100vh - 300px);
			border-radius: 20px;
			@media screen and (min-width: 600px) {
			max-height: calc(100vh - 250px);
			border-radius: 30px;
			}
		}
	}

	&.todolistPage,
	&.tomatoPage {
		.link {
			display: none;
		}
	}

	.contentBox {
		width: 100%;
		overflow-y: scroll;
	}
	
	@media screen and (min-width: 600px) {
		position: relative;
		width: 80%;
		margin: 0 auto 1rem;
		max-height: calc(100vh - 250px);
		height: fit-content;
		padding: 49px 0 1.5rem;
		border-radius: 30px;

		.emptyListText {
			text-align: center;
			color: $color-darkgrey;
		}

		&.todoListPage {
			&.showContent {
				margin-right: 0.5rem;
			}
		}

		&.homePage {
			margin-bottom: 5rem;
		}

		.link {
			border-bottom: 1px solid $color-darkgrey;
			font-size: 0.75rem;
			font-weight: bold;
			margin-top: 1rem;
			opacity: 1;
			transition: opacity 0.2s ease;
			&:hover {
				opacity: 0.5;
				cursor: pointer;
				transition: opacity 0.2s ease;
			}
		}

		&.todolistPage {
	
			&.showContent {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 200px;
				transition: all 0.2s ease-in-out;
				.contentBox {
					overflow-y: scroll;
					height: fit-content;
				}
			}
		}
	}

	&.tomatoPage {
		background-color: transparent;
	}	

	@media screen and (min-width: 1000px) {
		height: 100%;
		border-radius: 30px;

		.listTop {
			border-radius: 30px 30px 0 0;
		}
		&.homePage {
			border-radius: 30px;
			max-height: calc(90vh - 385px);
			min-height: 200px;
		}

		&.todolistPage {
			justify-content: space-evenly;
			align-items: center;
			height: 200px;
			margin: 1rem auto 2rem;
			
			&.showContent {
				display: flex;
				min-height: 200px;
				transition: all 0.2s ease-in-out;
				height: fit-content;
			}

			@media screen and (min-width: 600px) {
				justify-content: flex-start;
				min-height: 200px;
				height: fit-content;

				&.showContent {
					display: flex;
					justify-content: flex-start;
					min-height: 200px;
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}
}

.iconGroup {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	.nrOfTodosIcon {
		background-image: url('../../../svgAssets/total-nr-todos.svg');
	} 
	.nrOfCheckedIcon {
		background-image: url('../../../svgAssets/nrCheckedIcon.svg');
	} 
	.nrOfNotCheckedIcon {
		background-image: url('../../../svgAssets/nrNotChecked.svg');
	}

	.nrOfTodosIcon, .nrOfNotCheckedIcon, .nrOfCheckedIcon {
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 3px;

		.nrTodos, .nrNotChecked, .nrChecked {
			font-size: 0.9rem;
			font-weight: bold;
		}

		.nrTodos, .nrNotChecked {
			margin-left: 0.75rem;
		}

		.nrChecked {
			margin-left: 1rem;
		}
	}
}

.listTop {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	color: $color-white;
	border-radius: 0;

	.arrowRight {
		display: none;
	}

	&.tomatoes {
		background-color: $color-pink;
	}

	&.currentTodos {
		background-color: $color-orange;
	}

	&.savedTodos {
		background-color: $color-yellow;
	} 

	@media screen and (min-width: 600px) {
		border-radius: 30px 30px 0 0;
		
	}
}

.todolistPage {
	.arrowRight {
		@include hover-btn;
		display: none;
	
		@media screen and (min-width: 600px) {
			display: flex;
			position: absolute;
			right: 1rem;
			font-size: 1.5rem;
		}
	}
}

.hiddenLists {
	background-color: $color-article-bg;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	margin: 1rem auto 2rem;
	padding: 0 1rem;
	min-height: 73px;
	width: 90%;
	height: fit-content;
	box-shadow: none;
	transition: box-shadow 0.2s ease-in-out;

	.textGroup {
		position: relative;
		width: 45%;
		overflow-wrap: break-word;
		hyphens: auto;

		h3 {
			font-size: 1rem;
			margin-bottom: 3px;
		}
		p {
			font-size: 0.75rem;
			font-weight: bold;
		}

		@media screen and (min-width: 600px) {
			width: 50%;
			flex: 1;
		}
	}

	&.isVisible {
		opacity: 1;
	}

	&:hover {
		box-shadow: 0px 0px 10px $color-box-shadow;
		transition: box-shadow 0.1s ease-in-out;
	}

	&.previewList {
		width: 95%;
	}

	&.tomatoObj {
		justify-content: flex-start;
		.textGroup {
			width: 50%;
			margin-left: 0.5rem;

			@media screen and (min-width: 600px) {
				width: 55%;
				margin-right: 60px;
			}
		}
	}
}

.isVisible {
	opacity: 1;
}

.iconGroup {
	display: flex;
	flex-direction: row;
	.nrOfTodosIcon {
		background-image: url('../../../svgAssets/total-nr-todos.svg');
	} 
	.nrOfCheckedIcon {
		background-image: url('../../../svgAssets/nrCheckedIcon.svg');
	} 
	.nrOfNotCheckedIcon {
		background-image: url('../../../svgAssets/nrNotChecked.svg');
	}

	.nrOfTodosIcon, .nrOfNotCheckedIcon, .nrOfCheckedIcon {
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 3px;

		.nrTodos, .nrNotChecked, .nrChecked {
			font-size: 0.9rem;
			font-weight: bold;
		}

		.nrTodos, .nrNotChecked {
			margin-left: 0.75rem;
		}

		.nrChecked {
			margin-left: 1rem;
		}
	}
}
	
@media screen and (min-width: 600px) {
	.hiddenLists {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $color-article-bg;
		margin: 1rem auto;
		padding: 0 1rem;
		width: 80%;
		height: fit-content;

		opacity: 1;
		&.isVisible {
			opacity: 1;
		}

		&:hover {
			cursor: pointer;
		}

		&.previewList {
			width: 100%;
		}

		&.tomatoObj {
			padding: 0 1rem;
			justify-content: flex-start;

			.textGroup {
				margin-left: 1rem;
			}
		}
	}	
}

.smallTomato {
	height: 60px;
	width: 60px;
	background-image: url('../../../svgAssets/orange-tomato-small.svg');
	background-repeat: no-repeat;
	transform: scale(0.75);

	@media screen and (min-width: 600px) {
		transform: scale(1);
	}
}

.optionContainer {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	.addTodoList {
		@include hover-btn;
		@include active-btn;
		background-color: transparent;
		border: none;
	}
}