@import '../../../styles/variables.scss';

.todoListSection {
	width: 100%;
	padding: 0 0 3rem;
	max-width: 700px;
	max-height: 200vh;
	overflow-y: scroll;
	margin-top: -20px;

	@media screen and (min-width: 600px) {
		border-radius: 30px;
		margin-top: 0;
	}
}

.todolistContainer {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	//width: 90%;
	background-color: rgba(255, 255, 255, 0.322);
	margin: 0 auto;
	padding: 70px 0 1rem 0;
	border-radius: 30px;

	.todoListTop {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;

		justify-content: center;
		width: 100%;
		height: 50px;
		color: $color-white;
		background-color: $color-orange;
		border-radius: 0;
		.deleteBtn {
			@include hover-btn;
			position: absolute;
			right: 1.5rem;
		}

		h2 {
			font-size: 1.1rem;
		}

		@media screen and (min-width: 600px) {
			border-radius: 30px 30px 0 0;
			h2 {
				font-size: 1.2rem;
				margin-right: 1rem;
			}

			.deleteBtn {
				position: relative;
				margin-right: -1rem;
				right: 0;
			}
		}
	}

	.todoArticle {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		margin: 1rem auto;
		border-radius: 30px;
		width: 80%;
		max-width: 700px;
		height: 155px;
		background-color: #D0EDFD;

		.todoBorder {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 23px;
			background-color: transparent;
			border-radius: 30px 0 0 30px;
		}
		.checkBox {
			@include hover-btn;
			background-image: url('../../../svgAssets/checkbox-empty.svg');
			background-repeat: no-repeat;
			width: 40px;
			height: 40px;
			background-position: center;
			background-size: cover;
			overflow: visible;
			transition: all 1s ease-in-out;
			
			@media screen and (min-width: 600px) {
				width: 50px;
				height: 50px;
				margin-top: 5px;
				transition: all 1s ease-in-out;
			}
		}

		.playBtn {
			@include hover-btn;
			background-image: url('../../../svgAssets/play-btn-sm-grey.svg');
			background-repeat: no-repeat;
			width: 40px;
			height: 40px;

			background-position: center;
			background-size: cover;
			overflow: visible;
			transition: all 1s ease-in-out;
			&.disabled {
				filter: opacity(0.5);
				&:hover {
					cursor: auto;
				}
			}

			@media screen and (min-width: 600px) {
				width: 50px;
				height: 50px;
				transition: all 1s ease-in-out;
			}
		}

		.playBtnPlaceholder {
			width: 40px;
			height: 40px;

			@media screen and (min-width: 600px) {
				width: 50px;
				height: 50px;
			}
		}

		.todoTextSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 125px;
			word-break: break-all;

			> h3 {
				margin: 0;
				margin-bottom: 0.5rem;
			} 
			
			> p {
				margin: 0;
				font-size: 0.8rem;
				text-align: left;
			}

			@media screen and (min-width: 600px) {
				align-items: center;
				width: 50%;
				max-width: 300px;
				margin-right: 60px;
			}
		}

		&.checkedItem {
			background-color: $color-green-bg;
			transition: all 1s ease-in-out;

			.checkBox {
				@include hover-btn;
				background-image: url('../../../svgAssets/check-mark-sm.svg');
				background-position: center;
				background-size: cover;
				overflow: visible;
				height: 50px;
				width: 50px;
			}
			.playBtn {
				background-image: url('../../../svgAssets/play-btn-sm-green.svg');
				background-position: center;
				background-size: cover;
				overflow: visible;
				height: 50px;
				width: 50px;
				&:hover {
					cursor: pointer;
				}
				&.disabled {
					filter: opacity(0.5);
					&:hover {
						cursor: auto;
					}
				}
			}

			@media screen and (min-width: 600px) {
				background-color: $color-article-bg;
				.todoBorder {
					background-color: $color-green;
				}
			}
		}

		.btnSection {
			position: relative;
			display: flex;
			flex-direction: row;
			
			align-items: center;
			width: 40%;
			min-width: 100px;

			>h2 {
				position: absolute;
				bottom: -2rem;
				right: 50%;
				text-align: center;
				width: 50%;
			}

			@media screen and (min-width: 600px) {
				width: 30%;
				justify-content: space-around;
			}
		}

		
		.todoTimeSection {
			display: flex;
			flex-direction: column;
			align-items: center;

			.todoTime {
				position: absolute;
				bottom: 0.5rem;
				font-size: 0.75rem;
				font-weight: bold;
			}
		}


		.deleteBtn {
			@include hover-btn;
			position: absolute;
			top: 1rem;
			right: 1.5rem;

			&:hover {
				cursor: pointer;
			}
		}

		&.checked {
			border-left: 10px solid $color-green;
		}
		@media screen and (min-width: 600px) {
			//	margin: 1rem auto;
				padding: 0 0.5rem;	
			}
	}
}
.addBtnGroup {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.addTodoList {
	display: flex;
	align-items: center;
	align-self: flex-end;
	margin: 0;
	border: none;
	background-color: transparent;

	h3 {
		color: $color-darkgrey;
		border-bottom: 1px solid transparent;
	}
	p {
		margin-left: 1rem;
		font-size: 1.5rem;
	}
	.addTdodoSvg {
		@include hover-btn;
		margin-left: 1rem;
	}

	&:hover {
		cursor: pointer;

		h3 {
			border-bottom: 1px solid $color-orange;
		}
	}

	@media screen and (min-width: 600px) {
		align-items: center;
		align-self: flex-end;
		margin: 0 3rem;
	}
}

.emptyList {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	width: 100%;
	padding-top: 100px;
}

.addListIconBtn {
	@include hover-btn;
	background-image: url('../../../svgAssets/addBtn.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 95px;
	height: 95px;
}