@import '../../../styles/variables.scss';

.tomatoPageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.libraryContainer {
	position: relative;
	display: grid;
	width: 90vw;
	max-width: 1350px;
	background-color: $color-container-bg-transp;
	border-radius: 20px;
	margin: 2rem auto;
	padding: 40px 0 30px;
	flex-wrap: wrap;
	width: 90vw;
	margin-top: 4%;
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	.gridItem {
		max-width: 300px;
	}

	.emptyList {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		width: 100%;
		padding-top: 100px;

		.todoListTop {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 50px;
			color: $color-white;
			background-color: $color-orange;
		}
	}

	.addListIconBtn {
		background-image: url('../../../svgAssets/addTomatoNew.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 95px;
		height: 95px;

		&:hover {
			cursor: pointer;
		}
	}

	.tomatoListTop {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		color: $color-white;
		background-color: $color-white;
		border-radius: 20px 20px 0 0;

		.tomatoLibraryHeader {
			color: $color-pink;
		}
		.savedListsHeader{
			color: $color-yellow;
		}

		.addTomatoIcon {
			height: 35px;
			width: 35px;
			background-image: url('../../../svgAssets/addTomatoNew.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-left: 1rem;

			&:hover {
				cursor: pointer;
			}
		}

		.deleteBtn {
			position: absolute;
			right: 1.5rem;

			&:hover {
				cursor: pointer;
			}
		}

		@media screen and (min-width: 600px) {
			border-radius: 30px 30px 0 0;
		}
	}

	@media screen and (min-width: 600px) {
		flex-direction: row;
		flex-wrap: wrap;
		border-radius: 30px;
	}
}

/* .showOverlay {
	z-index: 9;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #212121;
	opacity: 0;
	transition: opacity 0.5s ease;

	&.overlayVisible {
		opacity: 0.8;
		transition: opacity 0.5s ease;
	}
} */

 .showActiveLists {
	height: 0;
	transition: all 1s ease;
	opacity: 1;
	overflow: hidden;
	overflow-y: scroll;
	display: block;
	position: fixed;
    z-index: 1000;
	height: 65vh;
	width: 90%;
	max-width: 400px;
    transition: all 0.5s ease;
    background: white;
    border-radius: 30px;

	.currentListsItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		transition: all 1s ease;
		width: 300px;
		height: 100px;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.optionContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 2rem;
	}

	.addTodoList {
		@include hover-btn;
		display: flex;
		align-items: center;
		align-self: flex-end;
		margin: 0 3rem;
		border: none;
		background-color: transparent;

		h2, h3 {
			color: $color-darkgrey;
			border-bottom: 1px solid transparent;
		}

		p {
			margin-left: 1rem;
			font-size: 1.5rem;
		}

		.addTdodoSvg {
			margin-left: 1rem;
		}

		&:hover {
			cursor: pointer;
		}
	}

	@media screen and (min-width: 800px) {
		position: fixed;
		height: 500px;
		width: 400px;
		transition: all 0.5s ease;
		top: 10%;
	}
}

.restartForm {
	z-index: 9999999;
	position: fixed;
	top: 0;
	bottom: 0;
	box-shadow: 0px 0px 20px $color-darkgrey;
	max-height: 500px;
	border-radius: 30px;
	max-width: 350px;
	background-color: $color-container-bg;
	transition: all 0.2s ease-in-out;
	display: flex;
	min-height: 200px;
	transition: all 0.2s ease-in-out;
	padding: 50px;
	margin: 50px auto;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	> h2 {
		color: $color-pink;
	}

	@media screen and (min-width: 600px) {
		left: calc(50vw - 200px);
		width: 400px;
		margin: 50px auto;
	}

	.hiddenLists {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 15px;
		margin: 1rem auto 2rem;
		opacity: 1;
	}

	.textGroup {
		font-size: 1rem;
		text-align: center;
		padding: 50px;

		h3 {
			font-size: 1em;
			margin-bottom: 3px;
			word-break: break-word;
			@media screen and (min-width: 600px) {
				font-size: 1em;
			}
		}

		p {
			font-size: 0.75em;
			font-weight: bold;
			@media screen and (min-width: 600px) {
				font-size: 0.75em;
			}
		}

		.btnContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 90%;
			margin: 50px auto;
			> input {
				border: 1px solid $color-pink;
				border-radius: 100px;
				font-size: 1.125rem;
				line-height: 2.4rem;
				font-weight: bold;
	
				&:hover {
					cursor: pointer;
				}
			}
			.closeForm {
				color: $color-pink;
				background-color: $color-white;
				flex: 1;
				margin-right: 3px;
			}
		}
	}
}

.addBtn {
	@include pink-btn;
	@include hover-btn;
	@include active-btn;
	color: $color-white;
	background-color: $color-pink;
	margin-left: 3px;
	width: 130px;
}

.todoTitle {
	color: $color-pink;
}